@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000; /* Black background */
  color: #ffffff;         /* Lime green text */
  padding: 20px;
  line-height: 1.6;
}

header {
  background-color: #410445; /* Deep purple */
  color: #ffffff;            /* Orange text */
  text-align: center;
  padding: 40px 0;
}

header h1,
header p {
  color: #F97A00;
}

section {
  margin: 40px 0;
  padding: 20px;
  background-color: #1d085bb1;      /* Slightly lighter than black */
  border: 2px solid #ffffff;   /* Lime green border */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(50, 205, 50, 0.2); /* Green glow */
}

h2 {
  color: #ADFF2F; /* Luminous yellow-green */
  margin-bottom: 15px;
}

ul {
  list-style: square inside;
  color: #32CD32;
}

.project a,
.cv-button,
form button {
  color: #000;
  background-color: #ADFF2F;
  padding: 10px 15px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: background 0.3s;
}

.project a:hover,
.cv-button:hover,
form button:hover {
  background-color: #9ACD32;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
